In [1]:
import pandas as pd

In [3]:
#Task 1 - Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)
df = pd.DataFrame([['Aditya', 20, 'M', 2021, 'Mumbai'], ['Divyansh', 19, 'M', 2022, 'Jaipur'], ['Pooja', 21, 'F', 2020, 'Bhopal'], ['Nidhi', 21, 'F', 2021, 'Kochi']])
df

          0   1  2     3       4
0    Aditya  20  M  2021  Mumbai
1  Divyansh  19  M  2022  Jaipur
2     Pooja  21  F  2020  Bhopal
3     Nidhi  21  F  2021   Kochi

In [4]:
#Task 2 - Check the info of 'df'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      int64
 2   2       4 non-null      object
 3   3       4 non-null      int64
 4   4       4 non-null      object
dtypes: int64(2), object(3)
memory usage: 288.0+ bytes

In [5]:
#Task 3 - Check the descriptive statistics of 'df'
df.describe()

               1            3
count   4.000000     4.000000
mean   20.250000  2021.000000
std     0.957427     0.816497
min    19.000000  2020.000000
25%    19.750000  2020.750000
50%    20.500000  2021.000000
75%    21.000000  2021.250000
max    21.000000  2022.000000

In [6]:
#Task 4 - Check the 4th index observation with 'loc' slicing operator.
df.loc[3]

0    Nidhi
1       21
2        F
3     2021
4    Kochi
Name: 3, dtype: object

In [7]:
#Task 5 - Check the null values in your 'df'
df.isnull().any()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [8]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64